* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(8, 105, 114, 1);
}

.background {
  overflow: hidden;
}

.Opgavenum {
  margin-right: 10px;
}

img.tilbagepil {
  height: 50px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.Redigeringsbox {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr;
  background-color: #17b978;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 3vw;
}

.BtnRedig {
  width: 130px;
  margin-left: 70%;
  border-radius: 3vw;
  background-color: Yellow;
}

.btnGodkend {
  border-radius: 3vw;
  background-color: #a7ff83;
  width: 130px;
}