* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  background: rgb(23, 185, 120);
  background: linear-gradient(180deg, rgba(23, 185, 120, 1) 0%, rgba(8, 105, 114, 1) 80%, rgba(8, 105, 114, 1) 100%);
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  grid-area: header;
  background-color: #a7ff83;
  color: black;
  padding: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'left left right'
}

.Info_box {
  grid-area: left;
  margin-right: 15px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
}

.login {
  grid-area: right;
  margin-right: 15px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      'header header header'
      'Info_box Info_box login'
  }
}

input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
}

.button:hover {
  opacity: 0.7;
}